---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Einki er sum summarkvøld við strendur">
  <article>
    <!DOCTYPE html>
    <html lang="fo">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Einki er sum summarkvøld við strendur</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Einki er sum summarkvøld við strendur</h2>
        <div class="px-14 space-y-8 pb-16">
          <div class="space-y-6">
            <div>
              <p>Einki er sum summarkvøld við strendur.</p>
              <p>Hvítar lýsa gjar- og flidnarendur.</p>
              <p>Standa menn á nesjum og á tongum.</p>
              <p>Bátur rør við áratøkum longum.</p>

            </div>
            <div>             
               <p>Veksur flóð og neyvan tú tað grunar.</p>
              <p>Eiðasørt á nøkrum flúri runar.</p>
              <p>Syftast fagrir fiskar fram við strendur,</p>
              <p>meðan dagur leggur saman hendur.</p>
              </div>
            <div>

              <p>Hýkur dimmið mjúkt um hellulandið.</p>
              <p>Kámast agnið, her eg sjálvur standi.</p>
              <p>Áraknarr og syftan millum flesja.</p>
              <p>Hómast valla land ímillum nesja.</p>
            </div>
            
            <div>
              <p>Fram við landi eftir taragrunni</p>
              <p>hava blankar beitur støðugt runnið.</p>
              <p>Sleiskast alt hjá monnunum á tanga.</p>
              <p>Ein og ein teir heim til húsa ganga.</p>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
