---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Eitt sunnukvøld í plantasjuni">
  <article>
    <!DOCTYPE html>
    <html lang="fo">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Eitt sunnukvøld í plantasjuni</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Eitt sunnukvøld í plantasjuni</h2>
        <div class="px-10 space-y-8 pb-16">
          <div class="space-y-6">
            <div>
              <p>Eitt sunnukvøld í plantasjuni,</p>
              <p>har sita tvey lið um lið:</p>
              <p>ein genta og ein drongur,</p>
              <p>nei, nú orki eg ikki longur.</p>
              <p>Eg aftan fyri tey lá eitt sunnukvøld í plantasjuni.</p>
            </div>
            <div>
              <p>Tey tosa um stjørnum og mána</p>
              <p>sita eina løtu og gána,</p>
              <p>men so loypa tey upp við ein hvøkk</p>
              <p>tað var nakað, sum gjørdi tey kløkk.</p>
              <p>Hetta aftan fyri tey lá eitt sunnukvøld í plantasjuni.</p>
            </div>
            <div>
              <p>O, góða, o, góða, kom og set teg her hjá mær!</p>
              <p>O, góða, o, góða, kom nú, meðan slett ongin sær.</p>
              <p>Her er so góður friður, so tú kanst seta teg niður,</p>
              <p>:/: her er so gott og so hugnaligt,</p>
              <p>tí tú ert mær so fitt, so fitt :/:</p>
            </div>
            <div>
              <p>Eg fjaldur undir greinunum lá</p>
              <p>fyri tey meg ei skuldu sjá,</p>
              <p>men so kom eg til at bróta eina grein,</p>
              <p>so tað rundt um plantasjuna hvein</p>
              <p>tað var hetta, sum gjørdi tey kløkk</p>
              <p>eitt sunnukvøld í plantasjuni.</p>
            </div>
            <div>
              <p>O, góða…</p>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
