---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---
<MainLayout title="Eros">
  <article>
    <!DOCTYPE html>
    <html lang="fo">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Eros</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Eros</h2>
        <div class="px-14 space-y-8 pb-16">
          <div class="space-y-6">
            <div>
              <p>Vilt tú ikki sita her</p>
              <p>eina løtu nú hjá mær</p>
              <p>so eg kann kyssa og kína teg</p>
              <p>og vera tær so nær</p>
            </div>
            <div>
              <p>Nú býurin skjótt sova skal</p>
              <p>og myrkrið biður góða nátt</p>
              <p>legg teg bara her so væl</p>
              <p>fevn og kroyst mín kropp</p>
            </div>
            <div>
              <p>Vit gloyma dagsins strev</p>
              <p>í morgin er aftur frídagur</p>
              <p>og Eros so loyndarfullur lær</p>
              <p>bara hann okkum sær</p>
            </div>
            <div>
              <p>Nú sólin sendir geislar inn</p>
              <p>í eina lítla lon so veik</p>
              <p>har liggja tvey saman ballað skinn</p>
              <p>eftir ástarleik</p>
            </div>
            <div>
              <p>Um vit gloyma dagsins stríð</p>
              <p>geva hvørjum øðrum tíð</p>
              <p>kann Eros ikki halda frí</p>
              <p>tað leggur hann einki í</p>
            </div>
            <div>
              <p>Tú mást ei fara heim í kvøld</p>
              <p>verð nú her hjá mær</p>
              <p>so eg kann merkja tín mjúka kropp</p>
              <p>heilt nær at mær</p>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>