---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Í simri">
  <article>
    <!DOCTYPE html>
    <html lang="fo">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Herbergið</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Herbergið</h2>
        <div class="px-14 space-y-8 pb-16">
          <div class="space-y-6">
            
            <div>
              <p>Sum tað er fjálgt og lýtt í nátt,</p>
              <p>fjørðurin allur í toku fjaldur,</p>
              <p>hoyri um strendurnar alduslátt,</p>
              <p>kína um skerini smáar aldur,</p>
              <p>letur í nándini tjaldur</p>
            </div>
            <div>
              <p>Hetta er grøði og gróðrarstund,</p>
              <p>droparnir hanga sum perlur á stráum,</p>
              <p>sirmar so mjúkt yvir grøna grund,</p>
              <p>alt er í døkkum litum og gráum,</p>
              <p>sílið svevur í áum</p>
            </div>
            <div>
              <p>Sokkin í frið allur heimurin er,              </p>
              <p>tó nú er ongum eftir at bíða,</p>
              <p>tími kemur og tími fer,</p>
              <p>merkist ikki at løtur líða,</p>
              <p>hugurin ferðast so víða</p>
            </div>
            <div>
              <p>Sirmar og sirmar úr mjørkakógv,              </p>
              <p>uppi í urðini lirkar og gognur,</p>
              <p>snípan spinnur og svarar lógv,</p>
              <p>pískar eitt nev og rørist ein vongur,</p>
              <p>mjørkin í homrunum hongur</p>
            </div>
            




          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
