---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Súrligar nætur í Keypmannahavn">
  <article>
    <!DOCTYPE html>
    <html lang="fo">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Súrligar nætur í Keypmannahavn</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Súrligar nætur í Keypmannahavn</h2>
        <div class="px-14 space-y-8 pb-16">
          <div class="space-y-6">
            <div>
              <p>Vaknandi húsafasadur nú náttin er deyð</p>
              <p>spyrja hvønn annan hvar fáa vit nú morgunbreyð</p>
              <p>morgunin legði sín perlandi døgg á tín kinn</p>
              <p>vit turkaðu brillurnar væl áðrenn vit fóru inn</p>
            </div>
            <div>
              <p>Í tómligu tøgnini hittast av og á eygnabrá</p>
              <p>lunkaði rundstykkir hvat skal tú nú hava uppá</p>
              <p>ein lítlan til tín ein til mín ja tað riggar so væl</p>
              <p>tá ein skal biðja teg lova sær at sova sær hjá tær</p>
            </div>
            <div>
              <p>Og Langabrúgv leingist av longsli har yvir man skal</p>
              <p>á tínum kamari kunnu vit helst sova væl</p>
              <p>ein byrjandi býur bjóðar tær ein góðan dag</p>
              <p>tú svarar takk fyri meg men mítt ríki er ei av ídag</p>
            </div>
            <div>
              <p>Eg elski teg tak mína seinastu rest í tín favn</p>
              <p>so gloyma vit súrligar nætur í Keypmannahavn</p>
              <p>og meðan tú elskar meg hómi eg dalar og fjøll</p>
              <p>angandi bø mjúkar sátur og spælandi børn</p>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
