---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Your Song">
  <article>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Your Song</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Add the following CSS to set an SVG background image */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Adjust the background to cover the entire screen */
          background-position: center; /* Center the background */
          background-repeat: no-repeat; /* Prevent repeating the background */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans">
      <div class="pt-20 space-y-4">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Your Song</h2>
        <div class="px-14 space-y-8 pb-16">
          <div class="space-y-6">
            <div>
              <p>It's a little bit funny</p>
              <p>This feelin' inside</p>
              <p>I'm not one of those who can easily hide</p>
              <p>I don't have much money, but boy, if I did</p>
              <p>I'd buy a big house where we both could live</p>
            </div>
            <div>
              <p>If I was a sculptor, heh</p>
              <p>But then again, no</p>
              <p>Or a man who makes potions in a travellin' show, oh</p>
              <p>I know it's not much, but it's the best I can do</p>
              <p>My gift is my song and this one's for you</p>
            </div>
            <div>
              <p>And you can tell everybody</p>
              <p>This is your song</p>
              <p>It may be quite simple, but</p>
              <p>Now that it's done</p>
              <p>I hope you don't mind, I hope you don't mind</p>
              <p>That I put down in words</p>
              <p>How wonderful life is</p>
              <p>While you're in the world</p>
            </div>
            <div>
              <p>I sat on the roof</p>
              <p>And kicked off the moss</p>
              <p>Well, a few of the verses</p>
              <p>Well, they've got me quite cross</p>
              <p>But the sun's been quite kind</p>
              <p>While I wrote this song</p>
              <p>It's for people like you that keep it turned on</p>
            </div>
            <div>
              <p>So excuse me forgettin'</p>
              <p>But these things I do</p>
              <p>You see, I've forgotten</p>
              <p>If they're green or they're blue</p>
              <p>Anyway, the thing is</p>
              <p>What I really mean</p>
              <p>Yours are the sweetest eyes I've ever seen</p>
            </div>
            <div>
              <p>And you can tell everybody</p>
              <p>This is the song</p>
              <p>It may be quite simple, but</p>
              <p>Now that it's done</p>
              <p>I hope you don't mind, I hope you don't mind</p>
              <p>That I put down in words</p>
              <p>How wonderful life is</p>
              <p>While you're in the world</p>
            </div>
            <div>
              <p>I hope you don't mind, I hope you don't mind</p>
              <p>That I put down in words</p>
              <p>How wonderful life is</p>
              <p>While you're in the world</p>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
