---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Titel">
  <article>
    <!DOCTYPE html>
    <html lang="da">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sangur 1</title>
      <link href="/tailwind.css" rel="stylesheet" />
      <style>
        /* Tilføj følgende CSS til at sætte SVG som baggrundsbillede */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Tilpasser baggrunden til at dække hele skærmen */
          background-position: center; /* Centrerer baggrunden */
          background-repeat: no-repeat; /* Forhindrer gentagelse af baggrunden */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans ">
      <div class="pt-20 space-y-4 ">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl"> Angels </h2>
        <div class="px-14 space-y-8 pb-16 ">
            <div class="space-y-6">
                <div>
                    <p>I sit and wait</p>
                    <p>Does an angel contemplate my fate?</p>
                    <p>And do they know the places where we go</p>
                    <p>When we're grey and old?</p>
                    <p>'Cause I've been told</p>
                    <p>That salvation lets their wings unfold</p>
                    <p>So when I'm lying in my bed</p>
                    <p>Thoughts running through my head</p>
                    <p>And I feel that love is dead</p>
                    <p>I'm lovin' angels instead</p>
                </div>
                <div>

                
          <p>And through it all</p>
          <p>She offers me protection</p>
          <p>A lot of love and affection</p>
          <p>Whether I'm right or wrong</p>
          <p>And down the waterfall</p>
          <p>Wherever it may take me</p>
          <p>I know that life won't break me</p>
          <p>When I come to call</p>
          <p>She won't forsake me</p>
          <p>I'm lovin' angels instead</p>
                    </div>
                    <div>
                     
          <p>When I'm feeling weak</p>
          <p>And my pain walks down a one-way street</p>
          <p>I look above</p>
          <p>And I know I'll always be blessed with love</p>
          <p>And as the feeling grows</p>
          <p>She breathes flesh to my bones</p>
          <p>And when love is dead</p>
          <p>I'm lovin' angels instead</p>
             
                    </div>
                    <div>

                    

          <p>And through it all</p>
          <p>She offers me protection</p>
          <p>A lot of love and affection</p>
          <p>Whether I'm right or wrong</p>
          <p>And down the waterfall</p>
          <p>Wherever it may take me</p>
          <p>I know that life won't break me</p>
          <p>When I come to call</p>
          <p>She won't forsake me</p>
          <p>I'm lovin' angels instead</p>
          </div>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>
