---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Titel">
  <article>
    <!DOCTYPE html>
    <html lang="da">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sangur 1</title>
      <link href="/path/to/your/tailwind.css" rel="stylesheet" />
      <style>
        /* Tilføj følgende CSS til at sætte SVG som baggrundsbillede */
        body {
          background-image: url('/bg_sang.svg');
          background-size: cover; /* Tilpasser baggrunden til at dække hele skærmen */
          background-position: center; /* Centrerer baggrunden */
          background-repeat: no-repeat; /* Forhindrer gentagelse af baggrunden */
        }
      </style>
    </head>
    <body class="m-0 p-0 font-sans ">
      <div class="pt-20 space-y-4 ">
        <h2 class="text-center font-kalnia text-tekst-primary-orange font-medium text-3xl">Sangur 2</h2>
        <div class="px-28 space-y-8 pb-16 ">
        <p>Tað er leygarkvøld í kvøld harmonikan spælir til dans komið øll, sum eru køld, komið og fáið tykkum kjans. </p>
        <p class="italic"> Tak um miðjuna á henni sum tú valdi tær Kom og syngi og flenni  kom og dansa við mær. </p>
        <p>Hoyr so kátir tónar út gjøgnum vindeygað sær smoyggja nú. Hvussu kanst tú kenna sút? Kom og trín í dansin, tú. </p>
        <p>Og tá myrkrið fjalir fold tak tá gentuna í hondina. Tá so døggin legst á mold leiðast tit til strondina. </p>
        <p>Legg á varrar hennar koss strúk so blítt og eymt um purlurnar burt er alt, sum fyrr var knoss og burt allar kurlurnar. </p>
        <p>Eydnulandið tykkar er har í fjálgu skýming sera blítt tað sum síðan hendi har er í tínum huga frítt.</p>
        </div>
      </div>
    </body>
    </html>
  </article>
</MainLayout>