---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<article>
		
		
		x<!DOCTYPE html>
<html lang="da">
<head>

    <title>Sanghæfte</title>

<body>
    <div class="container">
        <h1>Der går en dans</h1>
        <p>bla bla</p>

    </div>
</body>
</html>



	</article>
</MainLayout>