---
---

<a href="/" class="relative block">
  <div class="flex items-center justify-center">
    <img src="/logo_pynt.svg" class="p-10 absolute z-10" alt="" />
    <img src="/logo.svg" class="relative px-16 z-20" alt="" />
  </div>
</a>
