---
---
<a href="/">
    <div class="relative flex items-center justify-center">
  <a href="/" class="absolute inset-0 flex items-center justify-center">
    <img src="/logo_pynt.svg" class="p-10" alt="" />
  </a>
  <img src="/logo.svg" class="relative px-16" alt="" />
</div>
</a>



